In [ ]:
def square (x):
  return x*x

In [ ]:
square(5)

25

In [ ]:
def mymean(x):
  n = len(x)
  return sum(x)/n

In [ ]:
x = [1,2,3]
mymean(x)

2.0

In [ ]:
mymean(range(100))

49.5

In [ ]:
mymean(range(10))

4.5

In [ ]:
import math

In [ ]:
def mysd(x):
  xmean = mymean(x)
  mysum = 0.0
  n = len(x)
  for i in range(n):
    mysum += (x[i]-xmean)**2
  return math.sqrt(mysum/n-1)

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]
mysd(x)

5.5
82.5

2.692582403567252

In [ ]:
def fac(n):
  if n == 0:
    return 1
  return n*fac(n-1)

In [ ]:
fac(5)

120

In [ ]:
def fib(n):
  if n== 0:
    return 0
  elif n == 1:
    return 1
  return fib(n-2) + fib(n-1)

In [ ]:
fib(10)

55

In [ ]:
fib(20)

6765

In [ ]:
def piapprox(n):
  def term(i):
    return (-1)**i/(2*i+1)
  psum = 0.0
  for i in range(n):
    psum += term(i)
  return 4*psum

In [ ]:
piapprox(152)

3.1350137774059244

In [ ]:
import pandas as pd